<a href="https://colab.research.google.com/github/kshwan95/python/blob/master/pythonprac4_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
# 일반적인 함수
def add2(a,b):
  result = a + b
  return result

In [30]:
c = add2(3,4)
print(c)

7

In [32]:
# 입력값이 없는 함수
def say():
  return 'Hello world'

In [33]:
b= say()
print(b)

Hello world

In [19]:
# 결괏값이 없는 함수
def add3(a,b):
  print("%d,%d의 합은 %d입니다"%(a,b,a+b))

In [20]:
add3(3,4)

3,4의 합은 7입니다

In [34]:
# 입력값도 결괏값도 없는 함수
def say2():
  print("hello")

In [36]:
say2()

hello

In [37]:
# 여러개의 입력값을 받는 함수 만들기
def add_many(*args):
  result = 0
  for i in args:
    result = result + i
  return result

In [38]:
result = add_many(1,2,3)
print(result)

6

In [39]:
result= add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [40]:
def add_mul(choice, *args):
  if choice == "add":
    result = 0
    for i in args:
      result = result+ i
  elif choice =="mul":
    result = 1
    for i in args:
      result = result *i
  return result

In [42]:
result = add_mul('add',1,2,3,4,5)
print(result)
result2 = add_mul('mul',1,2,3,4,5)
print(result2)

15
120

In [43]:
# 키워드 파라미터
def print_kwargs(**kwargs):
  print(kwargs)

In [44]:
print_kwargs(a=1)

{'a': 1}

In [45]:
print_kwargs(name='seonghwan',age=27)

{'name': 'seonghwan', 'age': 27}

In [46]:
# 매개변수에 초깃값 미리 설정하기
def say_myself(name,age,man=True):
  print("나의 이름은 %s입니다."% name)
  print("나이는 %d 입니다" %age)
  if man:
    print("남자입니다")
  else:
    print("여자입니다.")

In [47]:
say_myself("강성환",27,True)

나의 이름은 강성환입니다.
나이는 27 입니다
남자입니다

In [48]:
#lambda
add = lambda a, b: a+b
result = add(3,4)
print(result)

7